.am-calendar .header .left,.am-calendar .header .right,.am-calendar .single-month .row .cell .date-selected{
  color: #FF694B;
}
.am-calendar .single-month .row .cell .date-wrapper .date-selected,.am-calendar .confirm-panel .button{
  background-color:  #FF694B;
}
.am-calendar .single-month .month-title{
  text-align: center;
}
.am-calendar .confirm-panel .info{
  display: none;
}
.am-calendar .confirm-panel .button{
  width: 100%;
}