.cityPlugDom{
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  .citySearch{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    .citySearchLeft{
      width: 28px;
      height: 30px;
      color: #fff;
      position: absolute;
      top: 7px;
      left: 5px;
      z-index: 10;
    }
    .citySearchBox{
      padding-left: 34px;
      background-color: #FF694B;
      .am-search-input{
        border-radius: 56px;
      }
      .am-search-cancel{
        color: #fff;
      }
    }
    .SearchTabHotCity {
      border-bottom: 1px solid #E2E8EB;
    }
    .am-tabs-default-bar-top .am-tabs-default-bar-tab, 
    .am-tabs-default-bar-bottom .am-tabs-default-bar-tab{
      padding: 0;
      height: 36px;
      font-size: 14px;
    }
  }
  .searchContainer{
    width: 100%;
    padding-top: 44px;
    .noSearchResult{
      font-size: 14px;
      text-align: center;
      line-height: 18px;
      padding: 10px 0;
    }
    .hotCityGrid{
      padding: 5px 0;
      padding-right: 10px;
      .am-flexbox{
        height: 40px;
        .hotCityItem{
          display: inline-block;
          width: 80px;
          height: 30px;
          line-height: 30px;
          font-size: 14px;
          color: #5a616a;
          border: 1px solid #C8D4DA;
          border-radius: 2px;
        }
      }
      .am-grid-item{
        width: 20%;
      }
      .am-flexbox .am-flexbox-item .am-grid-item-content{
        padding: 5px;
      }
    }
    .SC_Slider_title{
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      font-size: 14px;
      color: #5a616a;
      background-color: #f5f8f9;
    }
    .SC_Slider_text{
      font-size: 14px;
      padding: 0 10px;
      margin: 10px 0;
      color: #5a616a;
    }
    .searchResultID{
      position: fixed;
      top: 100px;
      right: 10px;
      z-index: 100;
      li{
        width: 12px;
        height: 12px;
        margin: 4px 0;
        text-align: center;
        line-height: 12px;
        font-size: 12px;
      }
    }
  }
  .searchContainer_I{
    padding-top: 80px;
  }
}